.left{
    float: left;
    width: 20vw;
    height: 20vw;
    background-color: rgb(172, 109, 109);
    margin: 0;
    padding: 0;
    

    
    
}
section{
    background-color: rgb(235, 128, 5);
    display: flow-root;
    padding: 1rem;
    margin: 0;
    
}
body{
    margin: 0;
    padding: 0;
}
img{
    width: 50px;
    height: 50px;
}