li {
    display: inline-block;
    margin-inline: 1.5rem;
    
    
}
ul {
    background-color: rgb(235, 235, 243);
    padding: 0.5rem;
    margin: 0;
    text-align: right;
    border: 0.5rem;
    /* background-origin: padding-box; */
 
    
    

}
li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
li a:hover, li a:focus {
        text-decoration: underline;
}